<a href="#/AddProduct" class="btn btn-primary btn-xs">Add New Product</a>
<br />
<br />
<div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Created Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ListOfProduct">
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.CreatedDate}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="#/EditProduct/{{item.ID}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" href="#/DeleteProduct/{{item.ID}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>